
<div class="parent">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="#">Welcome</a></li>
        <li><a href="#">FileName</a></li>
        <li><a href="#">Date of creation</a></li>
        <li><a href="#">Department</a></li>
      </ul>
    </nav>
  </aside>
  <section class="twitter">
    <div class="container">
      <a target="_blank" href="https://twitter.com/ReisnerShawn">
        <img class="social" src="./assets/AVL_Logo/2022-01-31 13_24_40-Window.png">
      </a>
      <p>Image Name</p>
      <p>Department</p>
    </div>
  </section>

</div>


